<% if comment.persisted? %>
<div class="media">
  <div class="pull-left">
    <b><%= comment.user.username %></b>
  </div>
  <div class="media-body">
    <p class="media-heading pull-right">
      <%= time_ago_in_words(comment.created_at) %>
    </p>
    <br />
    <%= comment.body %>
  </div>
</div>
<% if current_user.present? && (current_user == comment.user) %>
<%= link_to 'Edit', edit_article_comment_path(comment.article, comment) %> |
<%= link_to 'Delete', [comment.article, comment], method: :delete, data: { confirm: "Are you sure?" } %>
<% end %>
<hr>
<!--'Else' do nothing; (Note: there is a default 'nil' comment.
    Reason unknown, not showing on the db.);-->
<% end %>