<div class="row">
  <!-- Blog article Content Column -->
  <div class="col-lg-8">
    <br>
    <% @articles.each do |article| %>
    <!-- Blog article -->
    <!-- Title -->
    <h4 style="font-size:5vh;"><%= link_to article.title, article %></h4>
    <!-- Date/Time -->
    <p><span class="glyphicon glyphicon-time"></span>
    </p>

    <!-- Author -->
    <p>
      Article By:<strong> <%= article.user.username %></strong>
    </p>
    <hr>
    <!-- articleed Comments -->
    <!-- Comment -->
    <% end %>
    <br>
    <%= will_paginate @articles %>
    <br><br>
    <%= link_to "Create a new article", new_article_path %>
  </div>

  <!-- Blog Sidebar Widgets Column -->
  <%= render 'layouts/recent' %>
</div>
<br>