<footer class="footer-distributed" style="position:absolute; bottom:0px;
height:25vh;">
  <div class="footer-left" style="padding:0vh;">
    <h3>Mehedi's<span>Articles</span></h3>
    <p class="footer-links">
      <%= link_to "Home", root_path, class: "page-scroll" %>
      ·
      <%= link_to "Blog", articles_path, class: "page-scroll" %>
      ·
      <%= link_to "About Us", pages_about_path, class: "page-scroll" %>
      ·
      <%= link_to "Contact Us", pages_contact_path, class: "page-scroll" %>
    </p>
    <p class="footer-company-name"><%= link_to "mehedisarticles.com", root_path %> &copy; 2020</p>
  </div>
  <div class="footer-right" style="padding:0vh;">
    <div class="footer-icons">
      <a href="https://facebook.com"><i class="fa fa-facebook"></i></a>
      <a href="https://twitter.com"><i class="fa fa-twitter"></i></a>
      <a href="https://linkedin.com"><i class="fa fa-linkedin"></i></a>
      <a href="https://github.com"><i class="fa fa-github"></i></a>
    </div>
  </div>
</footer>