<!DOCTYPE html>
<html>

<head>
  <title>Mehedi's Blog</title>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body style="position:relative; min-height:100vh;">
  <%= render 'layouts/nav' %>

  <%= bootstrap_flash %>

  <div class='container' style="padding-bottom:35vh">
    <%= yield %>
  </div>

  <%= render 'layouts/footer' %>
</body>

</html>